<o-form-layout-manager attr="Booking" mode="tab" title="BOOKING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="BookingTable" 
            service="Booking" 
            entity="Booking" 
            title="BOOKING"
            keys="id"
            columns="id;customer_id;tour_id;booking_date;number_of_people" 
            header-actions="R;D"
            visible-columns="id;customer_id;tour_id;booking_date;number_of_people"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="tour_id" title="tour_id">
    <o-table-cell-renderer-service attr="tour_id" 
        service="Tour" entity="TourType" columns="id;name"
        parent-keys="id:tour_id"
        value-column="name" keys="tour_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #booking_date attr="booking_date" type="timestamp" label="booking_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #number_of_people attr="number_of_people" title="number_of_people" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>